*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, cursive;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: #808080;
	text-align: center;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 60px;
	line-height: 80px;
	box-shadow: 1px 1px 30px 1px rgba(0,0,0,1);
	z-index: 1;
}

.izq{
	width: 350px;
	height: calc(100% - 80px);
	position: fixed;
	left: 0px;
	bottom: 0px;
	background: silver;
}

	.crear-nota{
		background: black;
		height: 300px;
		width: 300px;
		position: absolute;
		top: 90px;
		left: 25px;
		padding: 25px;
		border-radius: 5px;
		box-sizing: border-box;
	}

	.crear-nota>input, .crear-nota>textarea{
		width: 100%;
		position: relative;
		float: left;
		outline: none;
		border: none;
		border-radius: 5px;
		background: #FFFFFF;
		box-sizing: border-box;
	}

	.crear-nota>input{
		height: 30px;
		font-size: 25px;
		font-weight: 700;
		padding: 0px 10px;
	}

	.crear-nota>textarea{
		height: 160px;
		font-size: 18px;
		font-weight: 300;
		padding: 10px 10px;
		margin-top: 10px;
		margin-bottom: 15px;
		resize: none;
	}

	.crear-nota>button, .crear-nota>select{
		position: relative;
		float: left;
		width: 40%;
		height: 30px;
		border-radius: 5px;
		border:none;
		outline: none;
		font-size: 18px;
		cursor: pointer; 
	}

	.crear-nota>button{
		background-color: #FFFFFF;
		font-weight: 700;
		color: black;
		margin-left: 20%;
	}

.der{
	height: calc(100% - 80px);
	position: fixed;
	width: calc(100% - 350px);
	right: 0px;
	bottom: 0px;
	background-color: gray;

}

.deri{
	height: 100%;
	width: 100%;
	position: relative;
	float: left;

}

	.trabajo{background-color: #F0E68C; box-shadow: 1px, 1px, 1px, 1px #BE2EDD}
	.escuela{background-color: #ADD8E6; box-shadow: 1px, 1px, 1px, 1px #4834D4}
	.personal{background-color: #F08080; box-shadow: 1px, 1px, 1px, 1px #6AB04C}
	.nota{
		width: 160px;
		height: 106px;
		position: relative;
		float: left;
		margin-left: 15px;
		margin-top: 15px;
		padding: 10px;
		box-sizing: border-box;
		font-size: 15px;
	}
